{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Book-a-ton:</h1>
<h3>A place where you can find a ton of books to rate and review.</h3>
<div class="container" id="maindiv">
    <div class="row">
        <div class="col-lg-4">
            <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/knowledge-1052010_1280.jpg" class="rounded-circle">
        </div>
        <div class="col-lg-4 hidden">
            <img src="https://cdn.pixabay.com/photo/2015/12/19/20/32/paper-1100254_1280.jpg" class="rounded-circle">
        </div>
        <div class="col-lg-4 hidden">
            <img src="https://cdn.pixabay.com/photo/2015/11/19/21/11/knowledge-1052011_1280.jpg" class="rounded-circle">
        </div>
    </div>
</div>
{% endblock %}
